In [10]:
from pathlib import Path
import pandas as pd

p = Path("/home/user5/text/shards2")

df_list = []

for f in p.iterdir():
    df_list.append(pd.read_parquet(f))

df = pd.concat(df_list, ignore_index=True)

In [12]:
purity_df = pd.read_parquet("/home/user5/text/clustres_output1/centroids.parquet")

In [11]:
df

,text,cls,probs,label,pca,centroid_id
0,"И не то что в губки, а в зубки, которые так пр...","[0.19668960571289062, 8.03570556640625, -16.76...","[0.0322265625, 0.93359375, 0.03564453125]",1,"[-0.036625020396125585, 0.017957197402196756, ...",1276
1,"Во всяком случае, мой сон, если не брать в рас...","[10.388835906982422, 8.822601318359375, -20.84...","[0.036376953125, 0.921875, 0.04052734375]",1,"[-0.28473608084592905, -0.3168002984563279, 0....",800
2,"В крошечной комнатке, перед спальней, в так на...","[-1.9236106872558594, 3.6026763916015625, 4.96...","[0.1572265625, 0.3203125, 0.5234375]",2,"[0.580843870088289, -0.11232157079549215, 0.34...",1126
3,"-- встретила она меня с рассеянной улыбкой, --...","[0.6254005432128906, 1.9808807373046875, -10.9...","[0.267578125, 0.69921875, 0.031982421875]",1,"[0.3209776160150053, 0.5342105764230075, 0.184...",432
4,-- подумал я про себя с яростью. Существовал н...,"[2.4591903686523438, 4.096099853515625, -8.422...","[0.20703125, 0.734375, 0.059814453125]",1,"[0.39561289609420996, 0.34497869220128696, 0.2...",1332
...,...,...,...,...,...,...
2136324,По мнению Межправительственной группы эксперто...,"[8.874927520751953, 6.2426934242248535, -22.76...","[0.034912109375, 0.9296875, 0.033447265625]",1,"[-0.4896454577108924, -0.025324570875469226, -...",1045
2136325,Европа не может развивать свое хозяйство в тех...,"[2.0867958068847656, 7.312042236328125, -19.46...","[0.038818359375, 0.92578125, 0.035888671875]",1,"[-0.3583485678195807, 0.3313047838825288, -0.0...",157
2136326,Но такая постановка вопроса слишком абстрактна.\n,"[-0.24316024780273438, -0.5609130859375, -19.0...","[0.033447265625, 0.9296875, 0.034912109375]",1,"[-0.32028337268034646, 0.19107925632801373, -0...",1594
2136327,Распределение его будет регулироваться соответ...,"[6.855319976806641, 9.68937873840332, -24.3600...","[0.035888671875, 0.9296875, 0.033935546875]",1,"[-0.459597757971139, 0.012788004419148034, -0....",1660
2136328,"Наоборот, наша постановка толкает на путь борь...","[3.6186561584472656, 10.02178955078125, -24.48...","[0.036865234375, 0.92578125, 0.035888671875]",1,"[-0.3071716777236888, 0.04425490173034584, 0.1...",447

In [7]:
df[df["label"] == 0].sample(1)["text"].iloc[0]

'Посетителей вокзала ждёт несколько неприятных аттракционов.\\nСначала парковка. Местные водители к разметке относятся очень философски. Фото прилагаю. А мест свободных нет. \\nПрипарковался кое как. Но это был не конец приключениям. 200 рублей за полчаса стоянки можно внести только 100 купюрами. Ни картой, ни 50 рублевкой! Собирал 100 по всей стоянке. \\nНо и главное шоу-это лестница с довольно высокой платформы. Куча детей с чемоданами огромной толпой (три поезда прибыли в течении 30 минут) с трудом спускаются по лестнице. Зрелище так себе. \\nНо чисто, надежно и как-то кондово. Дизайн урн и скамеек на и фото. И криво покрашены линии безопасности.'

In [8]:
df["label"].value_counts()

label
1    1502328
2     328294
0     305707
Name: count, dtype: int64

In [9]:
df["centroid_id"].value_counts()[:10]

centroid_id
765     6771
1482    4945
547     4928
1611    4858
1966    4725
1955    4709
462     4333
349     4311
296     4215
1748    4191
Name: count, dtype: int64

In [16]:
semi_pure_df = purity_df[purity_df["purity"] < 0.7]

semi_pure_df

      centroid_id                                             center    purity
67             67  [0.2980054020881653, 0.5726237893104553, 0.093...  0.610660
104           104  [0.5198067426681519, 0.26333460211753845, 0.20...  0.640902
122           122  [0.4065170884132385, 0.3868895173072815, 0.219...  0.569256
178           178  [0.20293594896793365, -0.5411163568496704, 0.2...  0.693645
195           195  [0.2706576883792877, -0.4805721342563629, 0.26...  0.545332
269           269  [0.2860528528690338, -0.47773194313049316, 0.1...  0.608108
296           296  [0.21689842641353607, 0.5848173499107361, 0.14...  0.614947
314           314  [0.36884695291519165, 0.4474884867668152, 0.07...  0.632900
331           331  [0.22512127459049225, -0.524630069732666, 0.27...  0.633690
477           477  [0.5041506290435791, 0.29204094409942627, 0.19...  0.543172
660           660  [0.17601825296878815, -0.5844802260398865, 0.1...  0.614833
794           794  [0.5080097913742065, 0.18942995369434357, 0.29...  0.471749
823           823  [0.3686775267124176, -0.2282904088497162, 0.33...  0.585169
836           836  [0.3725959360599518, -0.4278566837310791, 0.30...  0.660972
841           841  [0.30743539333343506, -0.46432965993881226, 0....  0.531787
897           897  [0.3663100302219391, 0.37148457765579224, 0.31...  0.613988
901           901  [0.7813066244125366, 0.11113914847373962, 0.14...  0.620132
913           913  [0.2597315013408661, 0.6324824094772339, 0.050...  0.598043
1014         1014  [0.3583681285381317, 0.3256170153617859, 0.376...  0.671149
1027         1027  [0.30605486035346985, -0.27542996406555176, 0....  0.623881
1088         1088  [0.48475560545921326, 0.2862447202205658, 0.25...  0.659170
1126         1126  [0.5379218459129333, -0.06383872777223587, 0.2...  0.475850
1206         1206  [0.4178626835346222, -0.2341218888759613, 0.37...  0.586535
1239         1239  [0.20891404151916504, 0.575465977191925, 0.082...  0.527924
1320         1320  [0.9109054207801819, 0.05945452302694321, 0.09...  0.646796
1392         1392  [0.3043001890182495, 0.5718957185745239, 0.143...  0.567458
1435         1435  [0.3858681321144104, -0.13071279227733612, 0.2...  0.658173
1442         1442  [0.40046241879463196, 0.2781828045845032, 0.11...  0.598485
1510         1510  [0.3562168478965759, 0.3700437545776367, 0.281...  0.529762
1520         1520  [0.3127206563949585, -0.5245513916015625, 0.21...  0.642016
1522         1522  [0.31059926748275757, 0.4493936002254486, 0.03...  0.525926
1563         1563  [0.8002889156341553, 0.1505177766084671, 0.130...  0.566756
1583         1583  [0.239968940615654, 0.481797456741333, -0.0596...  0.556291
1620         1620  [0.37885311245918274, 0.5699394345283508, 0.05...  0.670391
1722         1722  [0.1944350004196167, 0.5074974894523621, 0.044...  0.575000
1772         1772  [0.9844889044761658, 0.13899332284927368, 0.01...  0.608696
1823         1823  [0.36616086959838867, -0.36279231309890747, 0....  0.550926
1897         1897  [0.6989954113960266, 0.0842156857252121, 0.268...  0.491414
1917         1917  [0.3871772289276123, -0.37060338258743286, 0.3...  0.619619
1934         1934  [0.36014634370803833, 0.4996859133243561, 0.18...  0.682588
1949         1949  [0.212253138422966, -0.536625325679779, 0.3224...  0.508911
1978         1978  [0.476703941822052, -0.00650910846889019, 0.29...  0.628280
1996         1996  [0.20862829685211182, -0.6445229053497314, 0.2...  0.515288
1997         1997  [0.3742366433143616, 0.32328271865844727, 0.13...  0.608747

In [17]:
import numpy as np

sure_df = df[df["probs"].apply(lambda x: np.max(x) > 0.8)]
sure_df

,text,cls,probs,label,pca,centroid_id
0,"И не то что в губки, а в зубки, которые так пр...","[0.19668960571289062, 8.03570556640625, -16.76...","[0.0322265625, 0.93359375, 0.03564453125]",1,"[-0.036625020396125585, 0.017957197402196756, ...",1276
1,"Во всяком случае, мой сон, если не брать в рас...","[10.388835906982422, 8.822601318359375, -20.84...","[0.036376953125, 0.921875, 0.04052734375]",1,"[-0.28473608084592905, -0.3168002984563279, 0....",800
5,"-- Да что ж, -- заторопилась вдруг Елена Ивано...","[0.4992713928222656, 8.185302734375, -17.26518...","[0.8046875, 0.162109375, 0.03466796875]",0,"[0.5731177945025727, 0.6892537697270352, 0.011...",1415
6,"Мне уж чужие говорят, что мне развод дадут, по...","[2.7172889709472656, 6.573974609375, -11.53643...","[0.0380859375, 0.921875, 0.039794921875]",1,"[0.06597785904234521, 0.11542039935284057, 0.3...",723
7,"Еще вчера ввечеру, когда вы веселились в маска...","[1.9339752197265625, 6.26947021484375, -16.006...","[0.040771484375, 0.9140625, 0.043701171875]",1,"[0.20822814152851007, 0.029643632235660543, 0....",723
...,...,...,...,...,...,...
2136324,По мнению Межправительственной группы эксперто...,"[8.874927520751953, 6.2426934242248535, -22.76...","[0.034912109375, 0.9296875, 0.033447265625]",1,"[-0.4896454577108924, -0.025324570875469226, -...",1045
2136325,Европа не может развивать свое хозяйство в тех...,"[2.0867958068847656, 7.312042236328125, -19.46...","[0.038818359375, 0.92578125, 0.035888671875]",1,"[-0.3583485678195807, 0.3313047838825288, -0.0...",157
2136326,Но такая постановка вопроса слишком абстрактна.\n,"[-0.24316024780273438, -0.5609130859375, -19.0...","[0.033447265625, 0.9296875, 0.034912109375]",1,"[-0.32028337268034646, 0.19107925632801373, -0...",1594
2136327,Распределение его будет регулироваться соответ...,"[6.855319976806641, 9.68937873840332, -24.3600...","[0.035888671875, 0.9296875, 0.033935546875]",1,"[-0.459597757971139, 0.012788004419148034, -0....",1660
2136328,"Наоборот, наша постановка толкает на путь борь...","[3.6186561584472656, 10.02178955078125, -24.48...","[0.036865234375, 0.92578125, 0.035888671875]",1,"[-0.3071716777236888, 0.04425490173034584, 0.1...",447

In [18]:
not_sure_df = df[~df.index.isin(sure_df.index)]

In [22]:
not_sure_df["centroid_id"].unique().shape

(469,)

In [24]:
semi_pure_df["centroid_id"].isin(not_sure_df["centroid_id"].unique()).sum()

np.int64(44)

In [25]:
semi_pure_df["centroid_id"].shape

(44,)

In [26]:
import numpy as np

def entropy(p):
    p = np.asarray(p)
    p = p / p.sum()
    return -(p * np.log(p + 1e-12)).sum()

tmp = df.copy()
tmp["pred"] = tmp["probs"].apply(lambda x: int(np.argmax(x)))
tmp["is_sure"] = tmp["probs"].apply(lambda x: float(np.max(x) > 0.8))
tmp["entropy"] = tmp["probs"].apply(entropy)

cluster_stats = (
    tmp.groupby("centroid_id")
    .agg(
        size=("label", "size"),
        majority_label=("label", lambda s: s.value_counts().index[0]),
        majority_frac=("label", lambda s: s.value_counts().iloc[0] / len(s)),
        share_sure=("is_sure", "mean"),
        mean_entropy=("entropy", "mean"),
    )
    .reset_index()
)

full_stats = cluster_stats.merge(purity_df, on="centroid_id", how="left")
full_stats.head()

,centroid_id,size,majority_label,majority_frac,share_sure,mean_entropy,center,purity
0,0,917,2,0.997819,0.981461,0.375495,"[0.9887574911117554, -0.2650993764400482, -0.0...",0.997819
1,1,285,0,1.000000,1.000000,0.265076,"[0.813071072101593, 0.6287306547164917, -0.146...",1.000000
2,2,704,2,1.000000,0.998580,0.307851,"[0.9250759482383728, -0.4043363630771637, -0.0...",1.000000
3,3,776,0,1.000000,1.000000,0.279722,"[0.7138789296150208, 0.6148109436035156, -0.08...",1.000000
4,4,720,0,1.000000,1.000000,0.266137,"[0.8247846364974976, 0.6218014359474182, -0.13...",1.000000

In [27]:
full_stats[["purity", "share_sure", "mean_entropy"]].corr()

                purity  share_sure  mean_entropy
purity        1.000000    0.864463     -0.795459
share_sure    0.864463    1.000000     -0.958258
mean_entropy -0.795459   -0.958258      1.000000

In [28]:
bad_clusters = (
    full_stats
    .query("purity < 0.7 & size > 50 & share_sure < 0.6")
    .sort_values("purity")
)

bad_clusters.head()

,centroid_id,size,majority_label,majority_frac,share_sure,mean_entropy,center,purity
794,794,1469,0,0.471749,0.113683,0.845461,"[0.5080097913742065, 0.18942995369434357, 0.29...",0.471749
1126,1126,1677,2,0.475850,0.095408,0.867590,"[0.5379218459129333, -0.06383872777223587, 0.2...",0.475850
1897,1897,2737,2,0.491414,0.045670,0.898334,"[0.6989954113960266, 0.0842156857252121, 0.268...",0.491414
1949,1949,3030,2,0.508911,0.039934,0.753999,"[0.212253138422966, -0.536625325679779, 0.3224...",0.508911
1996,1996,1112,1,0.515288,0.006295,0.782997,"[0.20862829685211182, -0.6445229053497314, 0.2...",0.515288

In [30]:
for cid in bad_clusters.head(5)["centroid_id"]:
    display(df[df["centroid_id"] == cid].sample(5)[["label", "text"]])

         label                                               text
124398       0  очень много была в народе на мэрской кампании ...
146104       1  хм березники пермский край условные единицы у ...
1918194      1  И тогда я ей сказал, что готов обниматься с лю...
128137       1  люди звонят с утра на радио крутят треки из мо...
43036        1  В то же время Наташа, не переводя духа, радост...

         label                                               text
384369       2  Они нашли бы наши семьи, наших домашних животн...
123038       0  тоже у меня два часа ночи но слава биг смоуку ...
139781       2  хорошо кто ценит а кому то только подавай я то...
112047       2  мама включила песню мужик поёт меня не отпуска...
1691979      1  Опять необыкновенно торжественное шествие чере...

         label                                               text
822689       0  Потому что, знаете, когда вы входите в Большой...
682567       0  С точки зрения способности своевременно и в по...
1625132      0  стороны – страхователь, страховщик и государс-...
906143       0  Не редко у предприятия должны быть в наличии т...
766595       0  Нет ничего плохого в том, чтобы менеджер прило...

         label                                               text
388864       1  Это значительно упрощает работу с файлами с са...
1326278      1  Люди радостно и с готовностью проходят процеду...
661639       1  Полосы Боллинджера и другие индикаторы являютс...
696357       2  Мы хотели бы действенно работать с Министерств...
377285       1  Устойчивость связи и возможность оперативного ...

         label                                               text
1436069      2  В парке Дружбы Народов развернулось строительс...
251826       1  Теннисный корт, Сауна, Фитнес-центр, Поле для ...
792944       1  Конференц-зал / Банкетный зал, Бизнес-центр, П...
1303761      2  Днем посетите изумительное "parque del cafe" -...
1107869      1  Детская игровая площадка под открытым небом с ...

In [31]:
cid2maj = dict(
    zip(full_stats["centroid_id"], full_stats["majority_label"])
)

df["cluster_label"] = df["centroid_id"].map(cid2maj)
overall_acc = (df["cluster_label"] == df["label"]).mean()
print("Cluster-majority accuracy:", overall_acc)

print(
    df.groupby("label")
      .apply(lambda g: (g["cluster_label"] == g["label"]).mean())
)

Cluster-majority accuracy: 0.9776808721877576
label
0    0.957037
1    0.984525
2    0.965586
dtype: float64

/tmp/ipykernel_378837/1900773763.py:11: FutureWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  .apply(lambda g: (g["cluster_label"] == g["label"]).mean())

In [32]:
for thr in [0.6, 0.7, 0.8, 0.9]:
    good_cids = purity_df.loc[purity_df["purity"] >= thr, "centroid_id"]
    keep_mask = df["centroid_id"].isin(good_cids)
    share = keep_mask.mean()
    print(f"thr={thr}, keep_share={share:.3f}")

thr=0.6, keep_share=0.983
thr=0.7, keep_share=0.966
thr=0.8, keep_share=0.953
thr=0.9, keep_share=0.937

In [33]:
df["keep"] = df["centroid_id"].isin(good_cids)
print(df.groupby(["label", "keep"]).size().unstack(fill_value=0))

keep   False    True
label
0      41569   264138
1      62367  1439961
2      31233   297061

In [1]:
import pandas as pd

d = pd.read_parquet("train.parquet")

In [11]:
d[d["label"] == 0].sample(1)["text"].iloc[0]

'Поначалу бодрое вступление перешло в ровную стадию и я незаметно задремал... так время от время просматривая происходящее на экране и снова смыкая веки и досмотрел до конца. Ну что сказать - крепкий трэш получился. Саундтрек соответствует, подчеркивает сцены потасовок и безумной стрельбы. Рисовка на высоте. Сюжет... возможно, при пристальном рассмотрении я б его увидел, ну а так - какие рестлеры, какие чуваки в черном, уличные банды и странноватые главные персонажи, никого, между прочим, не удивляющие, а чего действительно? Мальчик скелет с пылающей головой, чернокожий мальчик лупоглаз, прямоходящий кот в брекетах - обыденность. Девицы было так мало, что непонятно, что она вообще забыла в этом мультфильме. Впечетление после просмотра нейтральное, и все же саундтрек отличный. Качает четко.'

In [3]:
d["label"] = d["label"].map({
    0: 1,
    2: 0,
    1: 2
})

In [22]:
d1 = pd.read_parquet("/home/user5/text/clustres_output1/updated_dataset.parquet")

In [41]:
d1[d1["label"] == 0].sample(1)["text"].iloc[0]

'Заказ не пришёл. Деньги не вернули. Я расстроена. Просто слов нет. Никому не рекомендую.'

In [42]:
import numpy as np

d["metric_mask"] = np.ones(shape=d.shape[0])
d["classification_mask"] = np.ones(shape=d.shape[0])

d

,text,label,metric_mask,classification_mask
0,smaller than in description.,1,1.0,1.0
1,Слева от меня Алексей Ильмухин. Путешественник...,2,1.0,1.0
2,"Ребенок в садик отходил год, из них пол года п...",0,1.0,1.0
3,Замерзла на -15,0,1.0,1.0
4,"Как всегда, название не соответствует истинном...",1,1.0,1.0
...,...,...,...,...
232361,"4 серии, ну и немного пятую серию глянул. Оцен...",0,1.0,1.0
232362,Слишком уксусный вкус,1,1.0,1.0
232363,"Отличное расположение, неплохая кухня, классна...",1,1.0,1.0
232364,Отличный центр! Пришел на лечение по квоте и в...,2,1.0,1.0
232365,"Прекрасный образчик киберпанка, повествующий о...",0,1.0,1.0

In [43]:
d2 = pd.concat([d, d1], ignore_index=True)

In [44]:
d2["label"].value_counts()

label
0    299638
2    299503
1    299252
Name: count, dtype: int64

In [45]:
d2.to_parquet("/home/user5/text/clustres_output1/updated_dataset1.parquet", index=False)